log:
bwa_cloning.log
bwa_installation.log
smalt_untar.log
smalt_wget.log
sources_compilation.log

scaff-bin:
break10x
bwa
scaff10x
scaff_barcode-screen
scaff_barcode-sort
scaff_BC-reads-2
scaff_break-clean
scaff_break-names
scaff_bwa
scaff_contigs-sort
scaff_fastq
scaff_length
scaff_mapping-clean
scaff_mapping-sort
scaff_matrix
scaff_outbreak
scaff_outbreak-seq
scaff_output
scaff_PCRdup
scaff_reads
scaff_rename
scaff_samout
scaff_samprocess
scaff_superAGP
smalt
log/bwa_cloning.log
log/bwa_installation.log
log/smalt_untar.log
log/smalt_wget.log
log/sources_compilation.log
scaff-bin/break10x
scaff-bin/bwa
scaff-bin/scaff10x
scaff-bin/scaff_barcode-screen
scaff-bin/scaff_barcode-sort
scaff-bin/scaff_BC-reads-2
scaff-bin/scaff_break-clean
scaff-bin/scaff_break-names
scaff-bin/scaff_bwa
scaff-bin/scaff_contigs-sort
scaff-bin/scaff_fastq
scaff-bin/scaff_length
scaff-bin/scaff_mapping-clean
scaff-bin/scaff_mapping-sort
scaff-bin/scaff_matrix
scaff-bin/scaff_outbreak
scaff-bin/scaff_outbreak-seq
scaff-bin/scaff_output
scaff-bin/scaff_PCRdup
scaff-bin/scaff_reads
scaff-bin/scaff_rename
scaff-bin/scaff_samout
scaff-bin/scaff_samprocess
scaff-bin/scaff_superAGP
scaff-bin/smalt
